# Puerto en el que correrá el servidor localmente
PORT=3000

# Cadena de conexión a PostgreSQL (de Supabase, Neon o Render)
# Ejemplo: postgresql://postgres:tu_password@db.xxxxxx.supabase.co:5432/postgres
# Si dejas esta variable vacía en local, el servidor usará automáticamente una base de datos local simulada (local_db.json)
DATABASE_URL=
